* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    position: relative;
}

.head1 {
    margin: 0;
   
}

header img {
    position: relative;
    float: right;
    top: -65px;
}

#topBar {
    background-color: white;
    border-block-end: black solid;
}

main {
    padding-top: 35px;
    margin-top: 18em;
}

.topBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 25;
}

nav {
    margin-top: 10px;

}

.form-control {
    width: 100%;
    margin-right: 0.5em;
}

#home {
   
    padding-bottom: 3em;
}

#liveRep,
#about {
    padding: 5em;
}

#about {
    padding: 5em;
}

.switch {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 60px;
    height: 35px;

}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1 px lightblue;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50px;
}

.modal-content>p {
    margin: 0.5em
}

.sortCoins {
    position: relative;
}

.sortCoins>h5 {
    top: 5px;
    position: relative;
    float: left;
}

.modalswitch {
    position: relative;
    float: right;
    right: 10px;
    top: 10px;
    display: block;
    width: 60px;
    height: 34px;
}

.pad {
    padding: 15px 15px 15px 0px;
}

progress {
    width: 11em;
}

progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0.1) 33%, rgba(0, 0, 0, 1)66% transparent 66%),
        -webkit-linear-gradient(top, rgba(255, 255, 255, .25),
        rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #0099cc, #ff4444);
    border-radius: 2px;
    background-size: 35px 20px 100% 100% 100% 100%;
}

.disp {
    display: block;
}

.nodisp {
    display: none;
}

#chartCon {

    border-radius: 10px;
}

.chartCon.noChart {
    background: lightcoral;
}

#chartCon .noChart>h1,
#chartCon .noChart>h2 {
    text-align: center;
    margin: 15px auto 15px auto
}

.aboutMe {
    border: solid black
}

.parallax {
    background-image: url(Background.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 415px) {
    header img {
        display: none;
    }

    main {
        padding-top: 35px;
        margin-top: 14em;
    }

    #home {
        padding-top: 6em;
        margin-bottom: 3em;
    }

    #liveRep,
    #about {
        padding: 4em 0 4em 0;
    }
}

/* 
#slide {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    position: relative;
    background-color: black;
}

#one,
#two {
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
}

#one {
    background-color: blue;
}

#two {
    background-color: red;
} */
.one {
    height: 500px;
}

.two {
    width: 500px;
}
.card{
    margin: 10px;
}
.active{ margin: 5px;}